@font-face {
  font-family: 'Rubik';
  src: url('static/fonts/Rubik-ExtraBold.woff2') format('woff2'),
  url('static/fonts/Rubik-ExtraBold.woff') format('woff'),
  url('static/fonts/Rubik-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('static/fonts/Rubik-MediumItalic.woff2') format('woff2'),
  url('static/fonts/Rubik-MediumItalic.woff') format('woff'),
  url('static/fonts/Rubik-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('static/fonts/Rubik-SemiBold.woff2') format('woff2'),
  url('static/fonts/Rubik-SemiBold.woff') format('woff'),
  url('static/fonts/Rubik-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('static/fonts/Rubik-Bold.woff2') format('woff2'),
  url('static/fonts/Rubik-Bold.woff') format('woff'),
  url('static/fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('static/fonts/Rubik-Italic.woff2') format('woff2'),
  url('static/fonts/Rubik-Italic.woff') format('woff'),
  url('static/fonts/Rubik-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('static/fonts/Rubik-Medium.woff2') format('woff2'),
  url('static/fonts/Rubik-Medium.woff') format('woff'),
  url('static/fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('static/fonts/Rubik-BlackItalic.woff2') format('woff2'),
  url('static/fonts/Rubik-BlackItalic.woff') format('woff'),
  url('static/fonts/Rubik-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('static/fonts/Rubik-Light.woff2') format('woff2'),
  url('static/fonts/Rubik-Light.woff') format('woff'),
  url('static/fonts/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('static/fonts/Rubik-Regular.woff2') format('woff2'),
  url('static/fonts/Rubik-Regular.woff') format('woff'),
  url('static/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('static/fonts/Rubik-SemiBoldItalic.woff2') format('woff2'),
  url('static/fonts/Rubik-SemiBoldItalic.woff') format('woff'),
  url('static/fonts/Rubik-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('static/fonts/Rubik-ExtraBoldItalic.woff2') format('woff2'),
  url('static/fonts/Rubik-ExtraBoldItalic.woff') format('woff'),
  url('static/fonts/Rubik-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('static/fonts/Rubik-BoldItalic.woff2') format('woff2'),
  url('static/fonts/Rubik-BoldItalic.woff') format('woff'),
  url('static/fonts/Rubik-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('static/fonts/Rubik-LightItalic.woff2') format('woff2'),
  url('static/fonts/Rubik-LightItalic.woff') format('woff'),
  url('static/fonts/Rubik-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('static/fonts/Rubik-Black.woff2') format('woff2'),
  url('static/fonts/Rubik-Black.woff') format('woff'),
  url('static/fonts/Rubik-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pacifico';
  src: url('static/fonts/Pacifico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

