.qrCode {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    font-family: var(--rubic-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: black;
  }

  &__container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;


    width: 150px;
    height: 150px;
    border: 3px var(--gray-color) solid;
    border-radius: 5px;

  }

  &__canvas {

  }

}