
.inputs {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.qrCodeWrapper {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}