.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  //justify-content: flex-start;
  align-items: center;


  &__image {
    width: 248px;
    height: 248px;
  }

  &__name {
    margin-top: 10px;
    font-family: var(--pacifico-family);
    font-weight: 400;
    font-size: 38px;
    line-height: 67px;
    letter-spacing: 0em;
  }


}

.info {
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;


  &__dot {
    background-color: var(--violet-color);
    width: 1.13px;
    height: 1.13px;
  }

  &__item {
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    color: var(--gray-color);
  }
}


.passwordField {
  width: 100%;
  margin-top: 15px;
}


.submit {
  width: 100% !important;
  margin-top: 20px;
}

.forgotPassword {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;

  color: var(--violet-color);
}

