.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  //align-items: center;


  &__title {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }
}


.modal {
  width: 340px !important;
  min-height: 130px;
  height: auto;
}

.reward {
  margin-top: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  &__importantText {
    margin-top: 13px;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    color: black;
  }

  &__text {
    margin-top: 10px;
    color: var(--gray-color);
  }


}

.openBtn {
  margin-top: 18px !important;
  width: 127px !important;
  height: 40px !important;
  border-radius: 44px !important;
}


.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;

  border: 1px var(--violet-color) solid;
  border-radius: 50%;

  img {
    width: 16px;
    height: 16px;
  }
}


.checkRewardText {
  margin-top: auto;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #A7A7A7;
}

.rewardButton {
  margin-top: 30px !important;

  &:disabled {
    background-color: var(--gray-color);
    cursor: pointer;
  }
}


.violetCircle {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: var(--violet-color);


  display: flex;
  justify-content: center;
  align-items: center;
}

.grayCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #EEEEEE;


  display: flex;
  justify-content: center;
  align-items: center;
}


.balanceSection {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
  }


  &__balance {
    margin-top: 10px;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;

    display: flex;
    column-gap: 10px;
  }

  &__grayBalance {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: var(--gray-color);

  }


  &__checkboxes {
    margin-top: 0px;
    column-gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

  }
}


.links {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;

  &__item {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
  }

  &__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: black;
  }
}

.checkboxText {
  margin-left: 5px !important;
  font-size: 11px !important;
  line-height: 13px !important;
  font-weight: 300 !important;
  color: var(--gray-color) !important;
}


.slopyLinks {
  width: 100%;
  margin-top: 20px;
}

.empty {
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: var(--gray-color);
  text-align: center;
}

.rewardContent {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}